.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar h1 {
    color: #fc0808;
  }
  .navbar .links {
    margin-left: auto;
    color: rgb(0, 0, 0);
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #fc0808;
  }
.active {
    color: #fc0808;
    text-decoration: none;
  }